<div style="overflow-x: hidden;">
    <p-scrollTop [threshold]="580" icon="pi pi-arrow-up"></p-scrollTop>
    <app-header></app-header>
    <app-section-about id="about"></app-section-about>
    <section>
        <div class="parallax">
            <div class="wavet" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: #fafafa;"></path></svg></div>
            <div class="waveb" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-4.79,100.16 C215.29,204.77 318.56,-16.28 518.90,105.09 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fafafa;"></path></svg></div>
        </div>
    </section>
    <app-section-function id="features"></app-section-function>
    <section>
        <div class="parallax2">
            <div class="wavet" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: #fafafa;"></path></svg></div>
            <div class="waveb" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-4.79,100.16 C215.29,204.77 318.56,-16.28 518.90,105.09 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fafafa;"></path></svg></div>
        </div>
    </section>
    <app-section-plans id="pricing"></app-section-plans>
    <section>
        <div class="parallax3">
            <div class="wavet" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: #fafafa;"></path></svg></div>
            <div class="waveb" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-4.79,100.16 C215.29,204.77 318.56,-16.28 518.90,105.09 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fafafa;"></path></svg></div>
        </div>
    </section>
    <app-section-contact-us id="contact-us"></app-section-contact-us>
    <app-footer></app-footer>
</div>
