footer{
    width: 100%;
    height: fit-content;
    position: relative;
    background-color: #032e7a;
    color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../../../assets/landingPage/footer-bottom-tablet.svg");
    background-position: bottom;
}

ul#social li{
    display: inline;
    margin-right: 20px;
    padding-left: 0px;
}

.col-4:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.col-4 {
    display: grid;
}