<!-- <div class="example-container">

    <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="example-app-name">SerFish</h1>
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container">
        
        <mat-sidenav #snav fixedTopGap="56">
            <h4 class="m-2">Opciones</h4>
            <hr  class="m-2">
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>

    </mat-sidenav-container>

</div> -->


<mat-sidenav-container class="example-sidenav-container" fullscreen>

    <mat-sidenav #snav mode="push">
        <mat-toolbar color="primary">
            <a href="">
                <img class="me-3" style="width: 50px;" src="../../../assets/toolbar/pescado.png" alt="">
            </a>
            <span>SerFish</span>
            <span class="example-spacer"></span>
            <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </mat-toolbar>
        <!-- <h4 class="m-2">Opciones</h4> -->
        <hr class="mx-2">
        <div class="mx-2">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <img class="img" src="../../../assets/sidebar/usuario.png" alt="">Usuario
                        </mat-panel-title>
                        <!-- <mat-panel-description>
                      Currently I am {{panelOpenState ? 'open' : 'closed'}}
                    </mat-panel-description> -->
                    </mat-expansion-panel-header>
                    <mat-selection-list #shoes [multiple]="false">
                        <mat-list-option *ngFor="let option of optionSetting" [routerLink]="option.url" [value]="option.name" (click)="snav.close()">
                            {{option.name}}
                        </mat-list-option>
                    </mat-selection-list>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <img class="img" src="../../../assets/sidebar/estadistica.png" alt=""> Estadistica
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-selection-list #shoes [multiple]="false">
                        <mat-list-option>

                        </mat-list-option>
                    </mat-selection-list>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <img class="img" src="../../../assets/sidebar/mapa.png" alt=""> Zonas
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-selection-list #shoes [multiple]="false">
                        <mat-list-option>

                        </mat-list-option>
                    </mat-selection-list>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <img class="img" src="../../../assets/sidebar/encuesta.png" alt=""> Encuestas
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-selection-list #shoes [multiple]="false">
                        <mat-list-option>

                        </mat-list-option>
                    </mat-selection-list>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <img class="img" src="../../../assets/sidebar/calendario.png" alt=""> Calendario
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-selection-list #shoes [multiple]="false">
                        <mat-list-option>

                        </mat-list-option>
                    </mat-selection-list>
                </mat-expansion-panel>


            </mat-accordion>

        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary" class="example-toolbar toolsticky">
            <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
            <h1 class="example-app-name">Menu</h1>
        </mat-toolbar>
        <div class="ms-3 mt-2">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>