<div ngsReveal class="login d-flex justify-content-center align-items-center">
    <!-- <img style="height: 100vh; width: 100%;" class="img-fuid" src="../../../assets/landingPage/flat-lay-fish-ice-cubes-with-copy-space.jpg" alt=""> -->
    <div style="height: 420px; width: 320px; background-color: rgba(65, 132, 177, 0.42); border-radius: 10px;" >
        <div class="row">
            <div class="col mt-5 mb-4 mx-4">
                <a routerLink="/landing-page">
                    <img class="me-2" style="width: 50px;" src="../../../assets/toolbar/pescado.png" alt="">
                </a>
                <span style="font-size: 22px;">SerFish</span>
            </div>
        </div>
        <div class="row mx-3">
            <div class="col-12 mb-3">
                <mat-form-field  class="w-100" appearance="fill" color="accent">
                    <mat-label>Nombre de usuario o Email</mat-label>
                    <input matInput>
                    <mat-icon class="me-2" matPrefix>person</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-12 mb-3">
                <mat-form-field class="w-100" appearance="fill" color="accent">
                    <mat-label>Contraseña</mat-label>
                    <input type="password" matInput>
                    <!-- <mat-icon matSuffix>lock</mat-icon> -->
                    <mat-icon class="me-2" matPrefix>lock</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-12 text-center">
                <button class="boton" mat-stroked-button color="accent" style="border-color: rgba(255, 64, 128, 0.356);">
                    Ingresar
                </button>
            </div>
            <div class="col-12 mt-4 text-center">
                <a style="text-decoration: none; pointer-events: none; color: #fff;" href="#">¿Olvidó la contraseña?</a>
            </div>
        </div>
    </div>
</div>
