<div class="m-5">
    <div class="row1 ">
        <div [ngsReveal]="{reset:true,origin:'left', distance:'80px', delay:200, duration:1200}" class="col">
            <h1 class="mb-0">Características</h1>
            <svg height="10" width="300">
                <line x1="0" y1="0" x2="150" y2="0"/>
            </svg>
            <p>Desarrolladas para optimizar sus resultados</p>
        </div>

        <div class="row py-3 align-items-center" [ngsRevealSet]="{ reset:true, delay:100}" [ngsInterval]="100" [ngsSelector]="'.col-sm-6'">
            <div class="col-12 col-sm-5 mb-5 justify-content-center">
                <img [ngsReveal]="{reset:true,origin:'left', distance:'80px', delay:200, duration:1200}" class="img-fluid" src="../../../../assets/landingPage/funciones/undraw_fish_bowl_uu88.svg" alt="">
            </div>
            <div class="col col-sm-7">

                <div class="row">
                    <div class="col-12 col-sm-6">
                        <img src="../../../../assets/landingPage/funciones/analitica.png" alt="">
                        <h4 class="mt-2">Estudio estadístico</h4>
                        <p>Reduccion de datos, ofreciendo información clave y precisa de acuerdo a las necesidades del negocio.</p>
                    </div>
                    <div class="col-12 col-sm-6">
                        <img src="../../../../assets/landingPage/funciones/map.png" alt="">
                        <h4 class="mt-2">Zonas de estudio</h4>
                        <p>Monitoreo,control y gestion de zonas y rutas de pesca.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-6">
                        <img src="../../../../assets/landingPage/funciones/colaboracion.png" alt="">
                        <h4 class="mt-2">Colaboración</h4>
                        <p>Entorno colaboratorivo para los procesos de trabajo</p>
                    </div>
                    <div class="col-12 col-sm-6">
                        <img src="../../../../assets/landingPage/funciones/advertencia.png" alt="">
                        <h4 class="mt-2">Alertas tempranas</h4>
                        <p>Monitoreo de las condiciones climaticas e informes en tiempo real en caso de alertas</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-6">
                        <img src="../../../../assets/landingPage/funciones/proteger.png" alt="">
                        <h4 class="mt-2">Seguridad</h4>
                        <p>Proteccion a la confidencialidad e integridad de los datos de su negocio en todo momento.</p>
                    </div>
                    <div class="col-12 col-sm-6">
                        <img src="../../../../assets/landingPage/funciones/smartphone.png" alt="">
                        <h4 class="mt-2">Ingreso Movil</h4>
                        <p>Acceso a todo sus datos desde dispositivos moviles.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>