<div class="reset d-flex justify-content-center align-items-center">
    <form [formGroup]="resetPass" autocomplete="off" (ngSubmit)="reset()">
        <div class="justify-content-center" id="form-container">
            <!-- imagen -->
            <img src="../../../../assets/landingPage/re-enter-pass.png" alt="re-enter-password" style="margin-bottom: 1.5em;" />
            <!-- formulario -->
            <div class="row mx-3">
                <div class="col-12 mb-3">
                    <p>
                        <mat-form-field class="w-100" appearance="fill" color="primary">
                            <mat-label>Nueva Contraseña</mat-label>
                            <input [type]="hide ? 'password' : 'text'" type="password" matInput formControlName="newPassword">
                            <mat-error *ngIf="!valid('validPassword')">Mínimo ocho caracteres, al menos una letra mayúscula, una minúscula y un número.</mat-error>
                            <!-- <mat-icon matSuffix>lock</mat-icon> -->
                            <mat-icon class="me-2" matPrefix>lock</mat-icon>
                            <button style="opacity: 0.5;" type="button" mat-icon-button matSuffix (click)="hide = !hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field class="w-100" appearance="fill" color="primary">
                            <mat-label>Confirmar Contraseña</mat-label>
                            <input [type]="hide2 ? 'password' : 'text'" type="password" matInput formControlName="confirmPassword">
                            <mat-error *ngIf="valid('confirmPassword')">Las contraseñas no concuerdan. </mat-error>
                            <!-- <mat-icon matSuffix>lock</mat-icon> -->
                            <mat-icon class="me-2" matPrefix>lock</mat-icon>
                            <button style="opacity: 0.5;" type="button" mat-icon-button matSuffix (click)="hide2 = !hide2">
                            <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        </mat-form-field>
                    </p>
                </div>
                <div class="col-12 text-center">
                    <button class="boton" type="submit" mat-raised-button color="primary" [disabled]="resetPass.invalid">
                        Cambiar contraseña
                    </button>
                </div>
            </div>
        </div>
    </form>

</div>