<body>
    <header class="top-header">
    </header>

    <!--dust particel-->
    <div>
        <div class="starsec"></div>
        <div class="starthird"></div>
        <div class="starfourth"></div>
        <div class="starfifth"></div>
    </div>
    <!--Dust particle end--->


    <div class="lamp__wrap">
        <div class="lamp">
            <div class="cable"></div>
            <div class="cover"></div>
            <div class="in-cover">
                <div class="bulb"></div>
            </div>
            <div class="light"></div>
        </div>
    </div>
    <!-- END Lamp -->
    <section class=" error__content">
        <h1>404</h1>
        <button class="btn btn-light " routerLink="/landing-page">Ir a inicio</button>
        <h2>Pagina no encontrada</h2>
    </section>

</body>