<div class="m-5">
    <div class="row pt-2" [ngsReveal]="{reset:true,origin:'left', distance:'80px', delay:100, duration:1000}">
        <h1 class="mb-0">Planes de pago</h1>
        <h1 class="mb-0">Bastante accesibles</h1>
        <svg height="10" width="300">
        <line x1="0" y1="0" x2="150" y2="0" style="stroke:#3f51b5;stroke-width:8" />
      </svg>
        <p>Nos adaptamos a las necesidades de su organizacion y su presupuesto</p>
    </div>
    <div class="row pt-2 pb-2" [ngsRevealSet]="{ reset:true, delay:100}" [ngsInterval]="200" [ngsSelector]="'.example-card'">
        <div *ngFor="let plan of plans" class="col-12 col-md-6 col-lg-4 mb-4">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{ plan.typePlan }}</mat-card-title>
                    <mat-card-subtitle>Lo que necesitas</mat-card-subtitle>
                </mat-card-header>
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                <h3>{{ plan.period }}</h3>
                <h1> {{ plan.cost | currency: 'USD' }}</h1>
                <mat-card-content>
                    <p>
                        {{ plan.description}}
                    </p>
                    <ul>
                        <li class="mt-1" style="list-style: none;" *ngFor="let feature of plan.features">
                            <img class="me-2 img" src="../../../../assets/landingPage/funciones/checked.png" alt=""> {{feature}}
                        </li>
                    </ul>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>