.card-1{
    /* background-color: rgba(255, 64, 128, 0.27); */
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c53645d, #33738869, #2665806b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
    -webkit-box-shadow: 0px 0px 18px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 18px -5px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 18px -5px rgba(0,0,0,0.5);
}

.example-card{
    -webkit-box-shadow: 0px 0px 18px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 18px -5px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 18px -5px rgba(0,0,0,0.5);
}
