<div class="mx-5 py-4">
    <div    class="row align-items-center py-2" 
            style="height: 100%;"
            [ngsReveal]="{reset:true,origin:'right', distance:'80px', delay:100, duration:1000}">
        <div class="col">
            <div style="text-align: center;">
                <h1 class="mb-0">Acerca de nosotros</h1>
                <svg height="10" width="150">
                    <line x1="0" y1="0" x2="300" y2="0" style="stroke:#ff4081;stroke-width:8" />
                </svg>
            </div>
            <div class="row align-items-center" style="text-align: justify;">
                <div class="col-12 col-lg-7">
                    <div class="row">
                        <div class="col col-sm-6">
                            <h3 class="pt-3 mb-0">Inicio</h3>
                            <svg class="pb-1" height="10" width="150">
                                <line x1="0" y1="0" x2="30" y2="0" style="stroke:#ff4081;stroke-width:15" />
                            </svg>
                            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, veritatis molestiae magnam dolores voluptatem fugit culpa rem placeat impedit voluptates fuga quos architecto tempore possimus saepe sequi itaque pariatur corporis.</p>
                        </div>
                        <div class="col col-sm-6">
                            <h3 class="pt-3 mb-0">Proceso</h3>
                            <svg class="pb-1" height="10" width="150">
                                <line x1="0" y1="0" x2="30" y2="0" style="stroke:#ff4081;stroke-width:15" />
                            </svg>
                            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, veritatis molestiae magnam dolores voluptatem fugit culpa rem placeat impedit voluptates fuga quos architecto tempore possimus saepe sequi itaque pariatur corporis.</p>
                        </div>
                        <div class="col col-sm-6">
                            <h3 class="pt-3 mb-0">Final</h3>
                            <svg class="pb-1" height="10" width="150">
                                <line x1="0" y1="0" x2="30" y2="0" style="stroke:#ff4081;stroke-width:15" />
                            </svg>
                            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, veritatis molestiae magnam dolores voluptatem fugit culpa rem placeat impedit voluptates fuga quos architecto tempore possimus saepe sequi itaque pariatur corporis.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 justify-content-center">
                    <img    class="img-fluid float-end" src="../../../../assets/landingPage/funciones/undraw_fishing_hoxa.svg" 
                            alt="undraw_fishing_hoxa">
                </div>
            </div>
        </div>
    </div>
</div>