<div class="m-5 pb-5">
    <div class="row align-items-center py-2" style="height: 100%;" [ngsReveal]="{reset:true,origin:'right', distance:'80px', delay:100, duration:1000}">
        <div class="col">
            <div style="text-align: center;">
                <h1 class="mb-0">Acerca de nosotros</h1>
                <svg height="10" width="150">
                    <line x2="300" style="stroke-width:8" />
                </svg>
            </div>
            <div class="row align-items-center" style="text-align: justify;">
                <div class="col-12 col-lg-7">
                    <div class="row">
                        <div class="col col-sm-6">
                            <h3 class="pt-3 mb-0">Inicio</h3>
                            <svg class="pb-1" height="10" width="150">
                                <line/>
                            </svg>
                            <p>Brindamos servicios contemplando aspectos en el rubro pesquero esto con el propósito de suministrar información que pueda ser utilizada para proponer herramientas de manejo pesquero que conlleven a una mejor administración
                                de los recursos.
                            </p>
                        </div>
                        <div class="col col-sm-6">
                            <h3 class="pt-3 mb-0">Proceso</h3>
                            <svg class="pb-1" height="10" width="150">
                                <line/>
                            </svg>
                            <p>
                                Definir en un plan de manejo que garantice la explotación sostenible de los recursos brindando las bases para contener los datos de los sistemas de censos pesqueros, encuestas pesqueras y muestreos biológicos.
                            </p>
                        </div>
                        <div class="col col-sm-6">
                            <h3 class="pt-3 mb-0">Final</h3>
                            <svg class="pb-1" height="10" width="150">
                                <line/>
                            </svg>
                            <p> Lograr de forma permanente la evaluacion de los recursos pesqueros con el reforzamiento de estrategias de manejo sostenibles.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 justify-content-center">
                    <img class="img-fluid float-end" src="../../../../assets/landingPage/funciones/undraw_fishing_hoxa.svg" alt="undraw_fishing_hoxa">
                </div>
            </div>
        </div>
    </div>
</div>