<div class="header">
    <div class="container h-100">
        <div class="row" style="height: 100%;">
            <div class="col-12  col-lg-6 align-self-center">
                    <div [ngsReveal]="{reset:true,origin:'left', distance:'80px', delay:200, duration:1200}">
                        <h1 style="color: #ffff; text-align: center;">Desarrollando tecnologia e innovando la investigacion</h1>
                        <h6 style="color: #ffff; text-align: center;">Somos un servicio en la nube enfocado en la investigacion gestion y control de la pesca artesanal</h6>        
                    </div>
                    <div class="row mt-3" [ngsReveal]="{reset:true,origin:'right', distance:'80px', delay:200, duration:1500}">
                    <div class="col-12  col-sm-6">
                        <button class="w-100 mt-2" mat-raised-button color="accent">
                            Contactanos
                        </button>
                    </div>
                    <div class="col-12 col-sm-6">
                        <button class="w-100 mt-2" mat-raised-button color="primary">
                            Ingresar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>