.img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.toolsticky{
    position: sticky;
    top: 0;
    z-index: 100;
}

ng-scrollbar {
    --scrollbar-thumb-color: rgba(3, 47, 122, 0.4);        /* scroll bar color */
    --scrollbar-thumb-hover-color: rgba(3, 47, 122, 0.6);     /* scroll bar hover color */
}